:root {
    --primary-font: 'Work Sans', sans-serif;
    --primary-background-color: rgba(255, 144, 14, 0.1);
    --primary-font-color: #131313;
    --secondary-font-color: #727272;
}

body {
    font-family: var(--primary-font);
}

.header-contains {
    padding-top: 50px;
    background-color: var(--primary-background-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav styling */
.title{
    color:var(--primary-font-color);
    font-weight: 700;
    font-size: 45px;
}
nav>h1 {
    font-weight: 700;
    font-size: 45px;
}

.nav-logo {
    color: #424242;
    font-weight: 500;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1450px;
    height: 55px;
    margin: 0px auto;

}

nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* header styling */
.header {
    width: 100%;
    max-width: 865px;
    height: 225px;
    display: flex;
    margin: 0px auto;
}

.header-section {
    text-align: center;
}

.header-title{
    font-size: 64px;
    margin-top: 102px;
    margin-bottom: 32px;

}

.para {
    margin-bottom: 33px;
    color: #727272;
    font-weight: 400px;
    font-size: 18px;
    margin-top: 25px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
}

/* -----banner styling-------- */
.banner img {
    border-radius: 8px;
    height: 750px;
    width: 100%;
    max-width: 1440px;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
    max-width: 1450px;
    margin: 0px auto;
    margin-top: 240px;

}

/* service section styling */
.image-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.services-title {
    color: #727272;
    font-weight: 500;
    font-size: 45px;

}

.span-of-our{
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    height: 106px;
}

.feauture {
    width: 468px;
    height: 106px;
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.services-title,
.service-blog {
    margin-bottom: 30px;
}

.service-blog {
    color: #727272;
    font-weight: 400;
    font-size: 18px height:537px
}

.services {
    width: 50%;
    max-width: 537px;
    height: 304px;
    width: 537px;
    height: 78px;
}

.image-section {
    width: 50%;
    max-width: 710px;
    max-height: 710px;
}

.service {
    display: flex;
    align-items: center;
    gap: 75px;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 130px;
}

/*....... feautures- stylings............ */
.virtical-line {
    border-left: 5px solid #FF900E;
    height: 106px;
    padding-left: 26px;
}

.features {
    display: flex;
    column-gap: 15px;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 120px;

}

.our-features,
.stylish-image {
    padding-top: 40px;
    width: 50%;
}

.vertical-pear-sameline {
    display: flex;
    padding-top: 40px;
}

.titles-feature {
    width: 468px;
    height: 106px;
    font-size: 45px;
}

.we-do {
    width: 252px;
    height: 23px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

.our-system {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
}

.our-whole-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

.btn-secondary {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    margin-top: -200px;
    margin-left: -90px;

}

.btn-secondary>span {
    font-size: 65px;
    width: 258px;
    height: 109px;
}

/* Some facts styling */

.achievement {
    display: flex;
    justify-content: space-evenly;
}
.award:hover{
    transform:scale(2,1);
}
.award {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 50px 36px 55px 35px;
}


.award>img,
h2,
h5 {
    margin-bottom: 10px;
}

.fact-titles {
    font-weight: 700;
    font-size: 40px;
    width: 258px;
    margin-bottom: 25px;
}

.facts {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 100px;
    width: 100%;
    max-width: 1450px;
    margin: 0px auto;
    margin-top: 240px;

}

.fact-para {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* Sponsors section styling */
.sponsors-titles{
    text-align: center;
    height: 53px;
    margin-bottom:130px;

}
.sponsors-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsors{
    width: 100%;
    max-width: 1450px;
    margin: 0px auto;
    margin-top: 200px;
}

/* Extra section  */
.wrapping-up{
    width: 50%;
    padding-left: 50px;
}
.motivation{
    width:50%;
}
.ben-keeppe{
   border: 5px solid green;
   border-radius: 1000px;
   margin-bottom: 20px;
}
.ben-author{
    color: indigo;
    margin-bottom: 10px;

}
.inspiration{
    padding-left:20px;
}
.extra-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}
.extra-section{
    width: 100%;
    max-width: 1450px;
    margin: 0px auto;
    margin-top: 240px;
    margin-bottom: 150px;
}
/* footer section styling */
.box{
    height: 110px;
    width: 110px;
    background: #D9D9D9;
} 
.footer-para{
    padding-left:350px;
}
.footer-section{
    display: flex;
    align-items: center;
}
.footer{
    width: 100%;
    height: 110px;
    max-width: 1450px;
    margin: 0px auto;
    margin-top: 240px;
    background-color: var(--primary-background-color);
    margin-bottom: 150px;
}
